html {
    var(text-color): #fff;
    var(back-color): #333;
    var(disabled-color): #aaa;
    var(accent-color): window-accent-color;
    color: var(text-color, #000);
    background: var(back-color, #fff);
    font: system;
    overflow: hidden;
}

body {
    flow: horizontal;
    margin: 0;
}

toolbar {
    display: block;
    flow: vertical;
    width: max-content;
    padding: 3dip;
    height: *;
    background: transparent;
}

toolbar>button {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20dip;
    padding: 0;
    size: 46dip;
    fill: none;
    stroke: #fff;
}

toolbar>button:disabled {
    stroke: color(disabled-color);
}

toolbar>button#recompile {
    background-image: url(path:M5 3 19 12 5 21 5 3 z);
}

toolbar>button#help {
    fill: #fff;
    stroke: none;
    background-image: url(path:M 16 4 C 9.3844277 4 4 9.3844277 4 16 C 4 22.615572 9.3844277 28 16 28 C 22.615572 28 28 22.615572 28 16 C 28 9.3844277 22.615572 4 16 4 z M 16 6 C 21.534692 6 26 10.465308 26 16 C 26 21.534692 21.534692 26 16 26 C 10.465308 26 6 21.534692 6 16 C 6 10.465308 10.465308 6 16 6 z M 16 10 C 13.802666 10 12 11.802666 12 14 L 14 14 C 14 12.883334 14.883334 12 16 12 C 17.116666 12 18 12.883334 18 14 C 18 14.767423 17.508714 15.44544 16.78125 15.6875 L 16.375 15.8125 C 15.559939 16.083523 15 16.862393 15 17.71875 L 15 19 L 17 19 L 17 17.71875 L 17.40625 17.59375 C 18.944786 17.08181 20 15.620577 20 14 C 20 11.802666 18.197334 10 16 10 z M 15 20 L 15 22 L 17 22 L 17 20 L 15 20 z);
}

hr {
    margin: 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px dashed #999;
}

scintilla {
    behavior: scintilla;
    display: block;
    width: *;
    height: *;
}